# Ignore all files
*


# Allow directories (so Git can find nested scripts if any)
!*/

# Ignore p2rank
p2rank_2.6-alpha/

# Allow script files
!*.py
!*.sh

# Allow documentation files
!*.md

# Allow the .gitignore file itself
!.gitignore